<!DOCTYPE html>
<html>
  <head>
    <title>Ribs</title>
  </head>
  <body>
    <p>bind to model, update on keyup</p>
    <input data-bind="data:car, keyup:set:color, init:color:update, change:color:update" type="text" name="text1" value="" />
    <p>bind to model, update on mouseout</p>
    <input data-bind="data:car, mouseout:set:color, init:color:update, change:color:update" type="text" name="text2" value="" />
    <p>bind to collection, render template on collection change</p>
    <!-- render elements from given collection -->    
    <div id="list" data-bind="data:cars, init:render, all:render, template:car-tmpl"></div>
    
    <script id="car-tmpl" type="text/html">
      <div><%= model.color %> <%= model.type %></div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script src="../vendor/underscore.js"></script>
    <script src="../vendor/backbone.js"></script>
    <script src="../ribs.js"></script>
    <script>
      var Car = Backbone.Model;
      var Cars = Backbone.Collection.extend({
        model: Car
      });

      var car = new Car();
      car.set({color: "red"});
      var cars = new Cars();
      cars.add(car);
            
      $(function () { Ribs.bindAll(); });
    </script>
  </body>
</html>
